<div class="container-fluid" style="padding-bottom: 2%; padding-left: 2%; padding-right: 2%;">

	<h2 class="text-center">Frequently Asked Questions</h2>

	<div class="mt-4">
		<hr />
		<h5>
			What service does <strong>CRAFTER</strong> provide?
		</h5>
		<h6>
			<strong>CRAFTER</strong> is an online platform that aims to form a community of art and craft lovers in Malaysia. <strong>CRAFTER</strong> enables all users to view art and craft workshops held in Malaysia. Users that have a <strong>CRAFTER</strong> account are able to post their respective art and craft workshops on <strong>CRAFTER</strong>. Any interested party is supposed to contact the host of the workshop to book or enquire more about the available workshops.
		</h6>
		<hr />
		<h5>
			What does <img src="https://www.thedoggurus.com/wp-content/uploads/2016/05/UhOh-png-web.png" style="height: 21px; width: 40px;"> mean?
		</h5>
		<h6>
			If there is a <img src="https://www.thedoggurus.com/wp-content/uploads/2016/05/UhOh-png-web.png" style="height: 21px; width: 40px;"> sign next to the title of a workshop, it means that the workshop is no longer available for booking.
		</h6>
		<hr />
		<h5>
			Who is responsible for any workshop cancellation?
		</h5>
		<h6>
			The host of a workshop. <strong>CRAFTER</strong> is not responsible for any workshop cancellation.
		</h6>
	</div>

</div>